<section class="section-study">

  <h3 id="study">study</h3>

  <div class="study-mobile-nav">
    {% for study in site.data.settings.study %}
        <span class="study-button {% if forloop.first %}active-study{% endif %}"></span>
    {% endfor %}
  </div>

  <div class="study-belt">
    {% for study in site.data.settings.study %}
      <div class="study-unit {% if forloop.first %}active-study{% endif %}">

        <figure class="study-face">
          <img src="{{ site.github.url }}/assets/img/study/{{ study.avatar }}" alt="study-face">
          <figcaption>
            <strong class="study-name">{{ study.name }}</strong>
            <em class="study-title">{{ study.title }}</em>
          </figcaption>
        </figure>

        <div class="study-content">
          <div class="study-quote-mark">{% include icons/icon-quote-mark.html %}</div>
          {{ study.quote }}
        </div>
      </div>
    {% endfor %}

  </div>

  <div class="study-controls">
    <div class="study-control-next">{% include icons/icon-next.html %}</div>
    <div class="study-control-prev">{% include icons/icon-prev.html %}</div>
  </div>

  <div class="study-logos">
    {% for study in site.data.settings.study %}
        <img class="study-logo {% if forloop.first %}active-study{% endif %}" src="{{ site.github.url }}/assets/img/study/{{ study.logo }}" align="{{ study.logo }}">
    {% endfor %}
  </div>

</section>
